@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  min-height: 100vh;
}

/* Colores personalizados */
:root {
  --ring-green: 0 255 0 / 0.2;
  --ring-orange: 255 165 0 / 0.2;
  --ring-red: 255 0 0 / 0.2;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}
